# Environment Variables Template
NEXT_PUBLIC_BASE_URL=http://localhost:3000/

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# GitLab Config
GITLAB_PROJECT_ID=
GITLAB_TOKEN=
GIT_USERNAME=
GITLAB_API_URL=
GITLAB_TRIGGER_TOKEN=
TEMPLATE_API_KEY=
ENCRYPTION_KEY=

# CMU EntraID Auth (OAuth2)
CMU_ENTRAID_CLIENT_ID=
CMU_ENTRAID_CLIENT_SECRET=
CMU_ENTRAID_REDIRECT_URL=
CMU_ENTRAID_AUTHORIZATION_URL=
CMU_ENTRAID_GET_TOKEN_URL=
CMU_ENTRAID_GET_BASIC_INFO=
SCOPE="api://cmu/Mis.Account.Read.Me.Basicinfo offline_access"

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000/
NEXTAUTH_SECRET=

# RabbitMQ (Message Broker)
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# Admin Configuration
ADMIN_PASSWORD=
